[2022-02-23 17:28] jrepp commented on #150
It might be useful to get a trace from apriltag_demo for a single frame on both systems.

We are going to be running tests with apriltag3 on jetson hardware. If I discover this problem I will be able to fix it.

[2022-02-23 20:56] jrepp commented on #72
I was able to reproduce this locally, use image magic to convert to pnm `convert bad-homography.png bad-homography.pnm` then make sure to use the same parameters as python detect `apriltag_demo bad-homography.pnm -x 1`

The problem as described above is the max index remaining -1 resulting in writes outside of the valid boundary of A later in the function.

Using a value of -1 is obviously wrong e

[2022-02-26 05:09] maharshi114 commented on #150
@jrepp sure, it will helpful for opensource development.

[2022-02-26 18:36] jrepp commented on #210
I'm seeing this as a long-term tax for little benefit. The Makefile creates some non-supported surface area on the project. I'm hoping to add more testing and coverage support through CMake but don't plan to duplicate that work.

I'm ok with closing this issue - I just wanted to raise it as an issue for discussion.

[2022-02-26 19:13] mkrogius commented on #210
I think that makes a lot of sense and that there is no need to duplicate that work for the Makefile

[2022-02-26 20:37] acshi commented on #210
As far as this project is currently owned by the April Robotics Lab, I think we should acknowledge that the lab and alums from the lab have very little time to maintain this. So I think the default here should be to stay in a low-cost maintenance mode.

Regardless of that, I think that any changes should be heavily justified, either because of explicit examples where undefined behavior is invoked,

[2022-02-27 02:33] jrepp commented on #210
I am actively working on an AprilTag based solution for an industrial application for the remainder of this year and probably beyond. I have approval to upstream changes which is my preference so that the broader community can benefit from this work and we don't curate a dead end of an important piece of software.

I'd like to keep contributing and am willing to offer my time as a maintainer if th

[2022-02-27 02:46] jrepp commented on #210
I agree - I think before even pursuing performance-related changes we need better performance baselines and testing methods.

The diagnostics feature PR is more of a pre-curser or enabling branch which enables a few things:
- the ability to specify a callback for each stage of the detection library, which unlocks
    - real-time capture of quad building or union building issues - we can build a si

[2022-03-01 03:15] jrepp commented on #210
This all sounds very good and I'm happy to collaborate with you and the team on testing before we move forward with any larger changes.

We can close this issue and move forward.

I have some simple CTest framework I can share with you if you want to save some time getting started. I'll start a separate issue with links to that and some things I've found helpful.

[2022-03-01 03:15] #210 closed

[2022-03-01 03:35] jrepp opened #217 "Testing framework discussion"
I'd like to share a small project I did recently to add automated testing and code coverage to an old GitHub project. In this case the author had archived their project so I forked the project and added the testing capabilities and API extensions.

https://github.com/jrepp/vec/blob/master/.github/workflows/cmake.yml

These workflow actions can be added through the 'Actions' tab by selecting CMake.

[2022-03-01 11:09] chubei-oppen opened #220 "How to calculate reprojection error?"
Hi, thank you for your amazing library!

I'm trying to calculate the reprojection error of estimated tag pose to measure the pose accuracy.

I understand that `estimate_tag_pose` returns tag pose in camera frame, and from https://github.com/AprilRobotics/apriltag/blob/8b0be1c9b0d4ce5922315102c782b57576d7361e/apriltag_pose.c#L498 I assumed the coordinates of the corners in tag frame are `(-scale, s

[2022-03-02 03:21] chubei-oppen commented on #220
Turns out it's a bug in my math library. Closing.

[2022-03-02 03:21] #220 closed

[2022-03-10 18:14] #118 closed

[2022-03-10 18:14] #93 closed

[2022-03-10 18:15] wxmerkt commented on #59
Can you provide a test image where this happens?

[2022-03-10 18:18] #156 closed

[2022-03-10 18:21] #160 closed

[2022-03-10 18:25] #147 closed

[2022-03-10 18:26] wxmerkt commented on #99
Thank you for creating this - Galactic and Rolling are now released from the new ROS2 release repository, with Foxy still being on the original release repository. I don't think that should cause any issues, so if it's okay with you, can we continue to use the existing release repository for Foxy?

[2022-03-10 18:51] #92 closed

[2022-03-11 11:43] christian-rauch commented on #182
@j-medland Are you still interested in removing the `exit` calls in the library code? I am still interested in this and will be happy to review a PR that replaced those with error codes or similar.

[2022-03-17 07:25] Zhang-Qinghui opened #222 "Hi,some questions"

[2022-03-17 07:45] Zhang-Qinghui commented on #222
Hi,Thanks for your great work! I have some questions when I read your article "AprilTag: A robust and flexible visual fiducial system". In Setion " Homography and extrinsics estimation", why the  camera projection matrix P is written as
![Z@2XTD@BTXR7HH2GY`ZHW Y](https://user-images.githubusercontent.com/49428118/158760353-f6036d7d-9b42-40af-9d3d-23f7dd6f574c.png)
Shouldn't the camera projection m

[2022-05-09 12:31] AlexReimann opened #227 "Compiling fails because of LTO mismatch error when using non-default gcc version"
**Describe the bug**
When switching the system default gcc version, e. g. upgrading to gcc 9 on Ubuntu 18.04, the compiling fails with following error:

[code]

**To Reproduce**
* Upgrade your gcc version on your system to a version using a higher LTO version.
* Try to build the package

**Operating Sytem**
Tested on Ubuntu 18.04 using gcc 9.4

** Installation Method**
[e.g. I built AprilTag from

[2022-05-12 04:08] nuclearsandwich commented on #99
With apologies for the tardy answer (my non @-mentions take a while to get to) yes, if that's your preference it works for me. Using ros2-gbp for all ROS 2 distros is recommended just to avoid confusion but the only strong recommendation is to use the ros2-gbp repository for all distros which have been touched by the migration tool so that all their releases occur in the same release repository an

[2022-05-12 08:59] wxmerkt commented on #99
@nuclearsandwich Perfect, then we are in agreement -- foxy stays on apriltag/apriltag-release and galactic, rolling, humble, and newer uses ros2-gbp/apriltag-release as released :-)

[2022-05-12 08:59] #99 closed

[2022-05-13 21:34] ShaunCurrier commented on #55
Is the library user required to call `matd_destroy()` on the pose members (as shown in the first post) after receiving and using the pose?

[2022-05-15 15:01] adarshrs opened #229 "CMake Install Error"
Cloned this repository and ran the commands to install it using CMake from `~/apriltag`

Here is the result:
[code]

All the files needed for configuration are actually in the main directory, and I was able to complete configuration by copying them into a new subdirectory called build.

But the following still produces an error:
[code]

Maybe I'm doing something wrong with the install, but if so,

[2022-05-15 15:20] wxmerkt commented on #229
Hi @adarshrs
This sounds like a configuration error. Can you configure you ran `mkdir build ; cd build ; cmake ..` to configure?

[2022-05-15 15:40] adarshrs commented on #229
That seemed to work, but I can't import apriltag into Python:
[code]

[2022-05-15 16:15] adarshrs commented on #229
Working after a reboot.

[2022-05-15 16:15] #229 closed

[2022-05-17 13:15] christian-rauch commented on #229
`cmake -B build` should already create the `build` folder. Something like `mkdir build ; cd build ; cmake ..` should not be required.

[2022-05-17 14:29] adarshrs commented on #229
It doesn't seem to work that way -

[code]

[2022-05-17 14:43] christian-rauch commented on #229
Not sure why it does not work for you. For me, `cmake -B build` creates the folder and configures the project:
[code]

Are you maybe using an older version? I am using 3.16.3:
[code]

[2022-05-17 14:47] adarshrs commented on #229
I'm on Ubuntu 18.04, with cmake 3.10.2
That's the newest version on 18.04

[2022-05-17 14:53] adarshrs commented on #229
I'm using 18.04 for ROS Melodic, as, I think, a lot of people still are. Maybe it would be helpful to add a note in the readme

[2022-05-19 10:41] christian-rauch commented on #182
Fixed by https://github.com/AprilRobotics/apriltag/pull/224.

[2022-05-19 10:41] #182 closed

[2022-05-19 10:42] #200 closed

[2022-05-19 10:46] christian-rauch commented on #154
This is related to #72.

@TaoYibo1866 Does #213 solve your issue? Can you reproduce this with the example image linked in the PR?

[2022-05-23 14:08] AlexReimann commented on #227
Fixed with #228

[2022-05-24 02:24] 212240447 commented on #37
Thank you for your analysis, let me solve the problem of msvc compiling on windows, thank you

[2022-05-24 09:09] christian-rauch commented on #37
There is PR https://github.com/AprilRobotics/apriltag/pull/95 by @ryancwicks to build without `pthreads` and implement Windows support. It needs to be rebased and cleaned up.

[2022-05-31 18:08] 2shaar2059 opened #230 "Opencv_demo doesnt work. How to proceed?"
[code]

[2022-05-31 19:56] 2shaar2059 opened #231 "Installation build error: "gcc: error: libpython3.10d.a: No such file or directory""
[code]

[2022-05-31 20:00] christian-rauch commented on #231
Usually, you will need to provide a bit more information about your system (OS, version, ...) in order to get help.

[2022-05-31 20:39] 2shaar2059 commented on #231
Sure, does this help?

OS: Ubuntu 20.04.4 LTS x86_64
Kernel: 5.4.0-113-generic
CPU: Intel i7-6500U (4) @ 3.100GHz
GPU: NVIDIA GeForce GTX 950M
GPU: Intel Skylake GT2 [HD Graphics 520]

python3 --version: Python 3.10.4

gcc --version: gcc (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0

[2022-05-31 22:03] RyanHir commented on #230
Using a stock Ubuntu 20.04 system with the repo provided OpenCV package. I was able to recreate the issue. I bisected the tree from f409268c918ff0b05aa495628160c133baeedfb7 (randomly chosen but good) to the current head 60071c0ed2d3a0c3685854e849ee75475f50fd83. After bisecting, I found that the issue was introduced in d2b7784797b77486c37b1cabe894c8aba9dd0931.

[2022-06-01 09:31] christian-rauch commented on #231
Thanks. I am using the same system without issues. But my python version is:
[code]

According to https://packages.ubuntu.com/focal/python3, the newest python3 package should be version `3.8.2-0ubuntu2`.

Are you using python3 from another source? My bet is that you have different versions of runtimes (`python3`) and development packages (`python3-dev`) installed. Both versions should match.

Did

[2022-06-01 09:40] christian-rauch commented on #230
I cannot reproduce this on my Ubuntu 20.04 setup. I also do not see how the commit is related to the "Remove exit and print calls" commit.

@RyanHir So, you are saying that the commit 139a16d1857acdc18e678a6f6090a63bae40a9fa works but d2b7784797b77486c37b1cabe894c8aba9dd0931 does cause the issue?

[2022-06-01 15:18] RyanHir commented on #230
After putting a watchpoint for errno to equal EAGAIN. I was able to see that the issue is with `cv::imshow`, specifically when opening the X Display.

Backtrace from GDB 9.2
[code]

[2022-06-01 15:27] RyanHir commented on #230
I think d2b7784797b77486c37b1cabe894c8aba9dd0931 simply caught the error code that was being set by OpenCV. So not necessarily a issue with the commit. By ignoring the check in the demo that was added in the commit, the program runs successfully. https://github.com/AprilRobotics/apriltag/blob/60071c0ed2d3a0c3685854e849ee75475f50fd83/example/opencv_demo.cc#L143

[2022-06-01 15:31] RyanHir commented on #230
The executable you shared has the same issue as before.

[2022-06-01 15:32] RyanHir commented on #230
Interestingly, if I use Wayland the issue is not present.

[2022-06-01 15:38] christian-rauch commented on #230
@j-medland Using errno is problematic when it is unclear which function set this. The [documentation on this](https://man7.org/linux/man-pages/man3/errno.3.html) on this says:

I think in the case above, it is supposed to check `apriltag_detector_detect`. But it could also have been set by something else. To distinguish this, `apriltag_detector_detect` should also return a return value that indica

[2022-06-01 15:48] christian-rauch commented on #230
@RyanHir Can you build in `Debug` mode? This should enable `debug_print` and show more information.

[2022-06-01 15:54] RyanHir commented on #230
Setting `CMAKE_BUILD_TYPE` to `Debug`? I have already been setting this and have not been getting anything useful from the console.

[code]

[2022-06-03 10:20] #231 closed

[2022-06-03 10:28] christian-rauch commented on #230
@RyanHir Can you check if #232 fixes your issue?

[2022-06-03 10:45] christian-rauch commented on #62
I am closing this because we [do not plan to support Python 2](https://github.com/AprilRobotics/apriltag/pull/64#issuecomment-756424560).

[2022-06-03 10:45] #62 closed

[2022-06-03 10:49] christian-rauch commented on #163
Windows support was added with https://github.com/AprilRobotics/apriltag/pull/27. Other than this, we cannot support generic Windows questions.

[2022-06-03 10:49] #163 closed

[2022-06-03 14:57] RyanHir commented on #230
#232 appears to have fixed the issue

[2022-06-03 15:36] #230 closed

[2022-06-16 06:48] meihe323 opened #235 "Some questions about reliability of identification"
Im working on a project that landing a copter on the apriltags ,here comes some diffculties,the first is that when the copter is very close to the apriltag, I found that the shadow of copter covered some black blocks of tag, and I can't get good identification result.How can I do to deal with shadows to get better reliability of identification?

[2022-06-16 09:09] brmarkus commented on #235
Would you have a chance to add diffuse lights/LEDs to the bottom of the copter? Or add multiple tags next to each other? Or add a circle in a thicker line around it then you can switch the algorithm from Apriltag-detection to tracking the circle's center.

[2022-06-21 21:30] ZhengWang26 opened #237 "python wrapper for estimate_tag_pose"
this is an extension to a previous issue [#101](https://github.com/AprilRobotics/apriltag/issues/101)

I looked at `sitepackages/apriltag.py` and under `Detector` class I found `detection_pose()` function that calls a cpp function with `pose_from_homography()`, which looks like `estimate_tag_pose` but I'm not 100% cerntain.
I didn't find any extra documentation describing what `detection_pose()` d

[2022-06-22 10:17] christian-rauch commented on #237
Please post the raw text with markdown formatting and syntax highlighting in future.

Are you talking about the python wrapper in this very repository? There is no file `apriltag.py` or a reference to `pose_from_homography`. You may refer to https://pypi.org/project/apriltag/, which is not related to this repo. Please open an issue in their repo (https://github.com/swatbotics/apriltag) if you need

[2022-06-22 16:08] #237 closed

[2022-06-25 07:46] liuchangji opened #238 "Anyway to draw tag's coordinate frame in image?"
Thank you for sharing this excellent project. I wonder if there is any way to draw the coordinate axis of tag on the image? If not, I can only choose to use tag pose and camera intrinsics  to project axis to draw the tag's coordinate frame.

[2022-06-25 18:50] christian-rauch commented on #238
`apriltag_detector_detect` already provides the centre and corner coordinates in the `apriltag_detection` struct: https://github.com/AprilRobotics/apriltag/blob/v3.2.0/apriltag.h#L225-L230.

Just use this to draw the position and orientation of the frame. You do not need the camera intrinsics.

[2022-06-26 05:46] liuchangji commented on #238
@christian-rauch Thanks for your reply.Oh,I see it but I want to show axis in every frame.So I calculate it and project aixs's end point into pixel coordinate.This make something easier to understand for me.And I hope this function can be added into new version.
![Tag Detections_screenshot_26 06 2022](https://user-images.githubusercontent.com/43487003/175801008-278a0269-08d9-4481-a556-75b3e1571ef5

[2022-06-26 11:51] christian-rauch commented on #238
What do you mean by this?

Projection the 3D coordinate axes into the image is certainly possible using the camera intrinsics. But if you only want to show the axes in the image, you can skip the projection and use the 2D coordinates directly. They should perfectly align with the tag edges and centre.

[2022-06-26 12:08] liuchangji commented on #238
Sorry,I expressed it very unclear. That means "I want to show X-Y-Z axis in every video frame".
And I haven't started going through your paper yet, so I don't know which edge is parallel to the x-axis and which is parallel to the y-axis. That's why I came up with this method of projection which is more inconvenient.

[2022-06-26 12:09] #238 closed

[2022-06-27 11:51] VincentMarnier opened #239 "Windows build regression when cross compiling"
**Describe the bug**
I am not able to build for windows anymore (using cross compilation, I haven't tested with a windows OS directly)

**To Reproduce**
I use a docker image to build:
[code]
Though this should be the same regardless of your linux env
Then I run:
[code]
It used to work. It does not after 2 changes, both specific to support windows build:

The first one is in `common/debug_print.h`:

[2022-06-27 12:47] christian-rauch commented on #239
Windows support changed with https://github.com/AprilRobotics/apriltag/pull/234 to remove the dependency on external packages. This works natively on Windows as you can see in the [last CI status](https://github.com/AprilRobotics/apriltag/actions/runs/2510288327). It is very likely that cross-compilation broke with this PR since the native build uses MSVC instead of MinGW.

We don't have a cross-c

[2022-06-27 14:08] VincentMarnier commented on #239
Hello,
I tried to compile with MSVC and the compilation work with and without my changes.
Thought in both cases I fail to use the produced dll.
I am actualy using the dll as a Unity3D Native plugin (https://docs.unity3d.com/Manual/NativePlugins.html) with a self made wrapper. It seems to work with the dll generated when cross compilling the same source code. I might be doing something wrong here;

[2022-06-27 17:11] christian-rauch commented on #239
Out of curiosity, if you only need this for Unity, why don't you compile this plugin on Linux? As far as I know, you can use Unity also on Linux. Alternatively, if you use Unity on Windows, why don't you just compile it natively there?

Don't worry, you cannot push code to the main repository anyway. You have to send a pull request (PR) first.

The idea would be to send a pull request of now of yo

[2022-06-28 13:28] christian-rauch commented on #184
Closing this as this issue seems to have disappeared and we do not have any information to debug it. The implementation for threading also change a bit, so this issue may not be present anymore.

[2022-06-28 13:29] christian-rauch commented on #80
Closing this since there is no data to reproduce.

[2022-06-28 13:29] #80 closed

[2022-06-28 13:31] christian-rauch commented on #73
Can you send a PR for this?

[2022-06-28 13:41] #71 closed

[2022-07-04 10:48] christian-rauch commented on #239
@VincentMarnier Can you provide a bit more details in which situations you encounter this problem? Is this only for cross-building for Windows on Linux? If this is a valid use case, it would make sense to have this fixed upstream in this repo. Can you send a PR fixing your issue?

[2022-07-04 12:06] VincentMarnier commented on #239
Sorry I have been busy lately
Yes I encountered this problem only in this situation
I will try to elaborate and make a PR Friday; I wont have access to my computer until then

[2022-07-09 16:12] TaoYibo1866 commented on #154
Sorry, i am not able to reproduce this at present since the original project has been closed for a year. I am glad that there is PR to fix this. Thank you for your work.

[2022-07-09 16:12] #154 closed

[2022-07-11 09:42] playezio opened #241 "How to find the linear distance between the camera and the tag in the code of Apriltags?"
I know that pose.R and pose.t represents the rotation matrix and translation vector of tag relative to the camera coordinate system respectively.
The X distance of the tag relative to the camera in the real world is pose.t->data[0].The Y distance of the tag relative to the camera in the real world is pose.t->data[1].The Z distance(heigh) of the tag relative to the camera in the real world is pose.

[2022-07-11 18:09] #239 closed

[2022-07-11 18:11] christian-rauch commented on #241
If you have the translation, then the distance is just the norm, right?

[2022-07-12 09:26] Hiroaki-K4 opened #242 "Is it possible to speed up April Tag detection using the GPU?"
Hi, thank you for sharing the code.
I have a question.
Is it possible to speed up April Tag detection using the GPU?
Thanks!

[2022-07-12 13:00] christian-rauch commented on #242
Maybe, if someone implements it. But this would probably result in a different "apriltag library". I am closing this as it is not really relevant to this repo.

If someone is implementing this, create a PR to this repo. But I am not sure it will be accepted as it is quite a big change and there are not many maintainers that will have the time to review such changes that will have a big impact.

[2022-07-12 13:00] #242 closed

[2022-07-13 15:31] DanielChaseButterfield opened #243 "'refine_edges' is an invalid keyword argument"
**Describe the Bug:**
The file `apriltag_py_type.docstring` states the following:

[code]

However, when trying to use this argument, the following bug occurs:
[code]

**To Reproduce**
Try to run the following command in a python file:
[code]

**Expected behavior**
No error, just that the refine_edges variable in the AprilTag detector is set to false.

**Operating Sytem**
WSL2 - Ubuntu 20.04.4

**

[2022-07-19 19:26] ninja-hu opened #244 "Compilation fails on Ubuntu 16.04 ROS kinetic"
**Describe the bug**
Following error is seen when I try to compile

[ 32%] Building C object CMakeFiles/apriltag.dir/common/image_u8.c.o
[ 35%] Building C object CMakeFiles/apriltag.dir/common/image_u8x3.c.o
[ 37%] Building C object CMakeFiles/apriltag.dir/common/image_u8x4.c.o
[ 40%] Building C object CMakeFiles/apriltag.dir/common/workerpool.c.o
In file included from /home/locobot1/apriltag_ws/s

[2022-07-19 20:16] christian-rauch commented on #244
Ubuntu 16.04 is EOL and not supported anymore. The CI pipeline only tests the last two LTS versions (20.04 and 22.04). From the [CI status](https://github.com/AprilRobotics/apriltag/actions/runs/2651512800), you can see that those build without issues.

Support for 16.04 has to be contributed by someone else. I can review a PR if it also contains the [CI workflow for 16.04](https://github.com/Apri

[2022-07-20 11:23] wxmerkt commented on #244
@ninja-hu I've provided a fix in #245

[2022-07-21 19:19] #244 closed

[2022-08-10 15:36] mitjap opened #246 "Incorrect C example"
The following example copies detection data in a pointer type (`apriltag_detection_t *`) instead to value type (`apriltag_detection_t`). This causes the `zarray_get` to write to memory on stack outside its bounds and can cause stack corruption. I think this is incorrect as `zarray_get` expects a pointer to data structure not a pointer to a pointer. This code has undefined behavior. Also cleanup fu

[2022-08-10 17:02] christian-rauch commented on #246
I am missing some context. Is this code from a file in the repo?

If so, is this pointer issue reported by ASAN?

[2022-08-10 20:10] christian-rauch commented on #246
I didn't know about that wiki. It seems to be outdated. The python binding the wiki refers to (https://github.com/duckietown/apriltags3-py) are not maintained any more.

You are right about the pointer access. I am not sure how to send PRs to the wiki. Can you try to edit the wiki?

[2022-08-11 08:28] mitjap commented on #246
Sorry I also can not edit the Wiki.

@mkrogius can you help with this?

[2022-08-11 15:50] mitjap commented on #246
My first claim that this is undefined behaviour is incorrect. `detections` is array of pointer so this part of example is correct.

 Only issue with example is memory leak due to missing `apriltag_detections_destroy` call.

[2022-08-15 13:49] Windwoes opened #247 "Memory corruption inside gradient_clusters?"
I'm building AprilTag from source (commit bee5efb1cc263ec1459bca46193e3428220d52ba) using a custom CMake file and adding a couple extra files to allow access from the JNI.

The AprilTag source code itself is *unchanged*. I'm having an issue where often AprilTag will segfault, on both Windows and Linux. The JVM error log shows the fault happened in the `gradient_clusters` frame.

[code]

I also som

[2022-08-15 18:55] christian-rauch commented on #243
Can you send a PR to the documentation or Python API?

[2022-08-15 18:57] christian-rauch commented on #247
Its hard to tell without a backtrace or a reproducible case with the default examples.

There have been some issues reported with ASAN (https://github.com/AprilRobotics/apriltag/pull/213). Maybe fixing those will also solve you issue? Otherwise, can you run your example with ASAN (AddressSanitizer) or Valgrind?

[2022-08-15 19:02] DanielChaseButterfield commented on #243
@christian-rauch A PR to add the refine_edges functionality, or to remove the reference to "refine_edges" from the documentation? I can definitely do the former, but I'm not sure how easy it would be for me to do the later.

[2022-08-15 19:05] christian-rauch commented on #243
I haven't looked into the python bindings or its documentation :-) I don't know if `refine_edges` was there before or is supposed to be there. Maybe the parameter is just called different in the API? If there is no such parameter or one with equivalent functionality, then it's easier to remove it from the documentation.

[2022-08-15 19:09] DanielChaseButterfield commented on #243
I just checked with lib-dt-apriltags (https://github.com/duckietown/lib-dt-apriltags), and it looks like their python bindings include ```refine_edges``` functionality.

This makes me believe that refine_edges should be there, but the python port didn't fully implement it. I guess the solution to fix this would be to implement this functionality.

I'll look into whether I'd be able to fix this mys

[2022-08-15 19:22] Windwoes commented on #247
I tried to run with ASAN, but it seems that ASAN isn't compatible with the JNI. I will try to find some way to figure out more specifically where the issue is.

[2022-08-15 19:27] DanielChaseButterfield commented on #243
Okay, should be fixed.

[2022-08-20 00:14] Windwoes commented on #247
Update: the crashing on Linux was due to accidentally mixing two versions of the Java side and native side JNI code.
I am still having intermittent crashes on Windows which I have not yet been able to track down.

[2022-08-20 01:03] krrish94 commented on #107
Adding a `PYTHON_LIBRARY_DIR` variable worked for me. Something like

[code]

[2022-08-27 11:56] christian-rauch commented on #247
@Windwoes Is your issue resolved? Can we close this?

[2022-08-27 12:40] Windwoes commented on #247
Unfortunately I haven't had any more time to look into the windows issue yet, but I hopefully will soon.

[2022-09-02 08:59] lizhengsi opened #249 "Use fisheye camera image without undistortion"
When using large FOV fisheye camera image without undistortion,  How to imporve the rate of detection and the accuracy of corners?

[2022-09-03 08:55] christian-rauch commented on #243
Fixed by https://github.com/AprilRobotics/apriltag/pull/248.

@DanielChaseButterfield If you write `Fixes #243` in your PR, then this will close an associated issue automatically when the PR is merged.

[2022-09-03 08:55] #243 closed

[2022-09-06 08:31] why-freedom opened #253 "memory leak when use "estimate_tag_pose""
**Describe the bug**
when i use estimate_tag_pose, the memory grow up slowly,  I use opencv_demo.

# my code
            apriltag_detection_info_t *info = (apriltag_detection_info_t *)calloc(1, sizeof(apriltag_detection_info_t));
            apriltag_pose_t *pose = (apriltag_pose_t *)calloc(1, sizeof(apriltag_pose_t));
            info->det = det;
            info->tagsize = 0.1;
            info-

[2022-09-06 18:21] christian-rauch commented on #253
Are you using the `opencv_demo` or your own code? Just from your code, I can tell that you have to free `info` and `pose`.

1. Can you run this with ASAN and valgrind and report back any memory issues?
2. Can you provide a complete example (code, build script, input data) to reproduce this?

[2022-09-07 01:40] why-freedom commented on #253
# Code

[2022-09-07 08:23] why-freedom commented on #253
I slove the problem, thank you!

[2022-09-07 08:23] #253 closed

[2022-09-07 09:01] wxmerkt commented on #253
Thanks for the update - can you please confirm what the problem was?

[2022-09-09 02:47] dkogan opened #256 "Packaging suggestions"
Hi. I'm the Debian maintainer. I just released the 3.3.0 release into Debian; it's there now. Ubuntu will pick it up when they make a new release, in a month probably. Thanks for maintaining this library. I have some notes:

- The top-level README in this project has a lengthy section on installing and building. I think this section should say "If you're running a recent Debian or Ubuntu, you shou

[2022-09-09 05:35] christian-rauch commented on #256
- Patch 2 makes sense. But I think usually this is done with some macro that switches between OSes and compilers (e.g. support Windows).
- Patch 5 is already integrated on master.
- Patch 6 makes a lot of sense. I was thinking about splitting this before. @dkogan Can you send a PR for this?
- Patch 7 I don't think we should integrate another example executable.

[2022-09-09 21:25] dkogan commented on #256
Hi.

Christian Rauch ***@***.***> writes:

This patch is a whitelist of exports. Maybe some compilers (on Windows,
say) do this in some other way than an "__attribute__", but you need
SOMETHING tagging each exported function.

Cool

It's a lot of typing to do that. Can you grab the patch from the link
and "git am whatever.patch"? If not, tell me, and I'll go through the
motions.

I'd like to sugge

[2022-09-09 21:27] dkogan commented on #256
[tags.pdf](https://github.com/AprilRobotics/apriltag/files/9538873/tags.pdf)

Here's the attachment from the last email. github is dumb.

[2022-09-09 21:52] christian-rauch commented on #256
Yes, there are other OSes and compilers. That is why this has to be placed behind an if-else macro that resolves for different compilers and OSes. The library is supposed to work on multiple systems.

You just have to put this into a branch of your GitHub fork and send a PR via the web interface. The idea was this should be reviewed in public here and not just be applied and pushed to upstream.

I

[2022-09-11 15:59] #247 closed

[2022-09-11 22:03] stark710 opened #257 "estimate_tag_pose giving segmentation fault"
[code]

I get a seg fault when I run this code. The error is probably at this line because the print statements before this get executed.

[code]

Been struggling with this for two days. Can someone please help me?

[2022-09-11 22:33] christian-rauch commented on #257
What does `gdb` say where this crashes?

Can you provide a complete example (code and build scripts), including the input data, that causes the crash?

Usually when reporting crashes, you either have to provide sufficient information to fix the issue or an easy way to reproduce the issue on our side. Otherwise, this becomes just wild guessing.

[2022-09-11 22:42] stark710 commented on #257
I am running it on a robot that does not have gdb. I am sorry about the insufficient data.
Can you just run the function with default parameters if any? Does it pass then? You can reproduce the issue by giving the tag size as 0.128 m, using tag36h11_create() function , tag36_11 type AprilTag and any camera intrinsics that you have. If it does pass, please post the example code of detections and us

[2022-09-12 07:23] christian-rauch commented on #257
Unless this is some kind of embedded system, you should be able to install gdb via apt or any other Linux package manager. Have you tried to run this with `ASAN` enabled (`cmake -DASAN=ON`)?

If running gdb on the robot is not an option, can you first try to reproduce this on your desktop/workstation?

There is an example use of `estimate_tag_pose` in https://github.com/AprilRobotics/apriltag/issu

[2022-09-13 04:40] stark710 commented on #257
I was able to get it to work. I was making some mistakes in using the detections. And as mentioned in issue #253, there were some memory leaks. I resolved them. However, I did not do dynamic memory allocation as mentioned as that would cause more problems for me. Would you recommend that?

Also, the code works when the pose is >=0.33 m. Within that, it results in segmentation fault again. Is that

[2022-09-13 04:45] stark710 commented on #257
It also invoked this error - `apriltag_pose.c:440:fix_pose_ambiguities(): Error, more than one new minimum found.
`

[2022-09-13 07:11] christian-rauch commented on #257
Can you provide details, and maybe an example, about this memory leak? Where are those leaks caused and how did you resolve them? I couldn't reproduce leaks and AddressSanitizer (a.k.a. ASAN) did not report any leaks related to the library. Eventually, this issue was also closed as fixed.

Are you talking about memory allocation on stack/heap?

No. Again, can you provide an example? What do you me

[2022-09-23 10:55] albertarla opened #258 "Can't compile python version error ubuntu 22.04"
I'm trying to compile the library as said in the README file with cmake. I have python 3.10.4 on my system running with ubuntu 22.04 and a pyenv enviornment with python 3.10.0. If I execute `which python` and `python --version` the output is that I'm using the pyenv one with python 3.10.0. Then when calling `cmake -B build -DCMAKE_BUILD_TYPE=Release` I get the following outpu:
[code]
As you can se

[2022-09-23 13:46] christian-rauch commented on #258
The output is quite clear that the file `libpython3.10.a` is missing. You will find this file in package [`libpython3.10-dev`](https://packages.ubuntu.com/jammy/amd64/libpython3.10-dev/filelist).

[2022-09-23 14:08] albertarla commented on #258
Hi, thanks for the answer. Yes the file is present in my computer. Sorry for not clearing that out at first place  in the issue. Here the output of locate:
[code]
Also the output of python --version and which python:
[code]

[2022-09-23 18:11] christian-rauch commented on #258
Can you try this without a virtual environment? Since CMake recognises that Python is installed but then does not set the library path correctly to find `libpython3.10.a`, it may get confused by different paths.

[2022-09-24 04:27] JohnGaby opened #259 "Windows gettimeofday implementation is not correct."
**Describe the bug**
I have built apriltag for windows using Visual Studio. When I run your apriltag_demo.c it shows the times for the various operations but they all show up as zero.

**To Reproduce**
Steps to reproduce the behavior:
Run apriltag_demo with pretty much any image.

**Expected behavior**
It should show the number of ms for each operation but they all show as zero

**Operating Sytem*

[2022-09-26 06:43] albertarla commented on #258
After doing `sudo apt install libpython3.10-dev` and compiling without the virtual env it worked. Thanks a lot for the support.

[2022-09-26 06:43] #258 closed

[2022-09-26 10:00] christian-rauch commented on #259
You are right about `time()`. But instead of reimplementing `gettimeofday`, it would make more sense to provide a Windows implementation of `utime_now`, as this is the only place where `gettimeofday` is used. This would also have the benefit that we do not need more ifdefs in the header `time_util.h` but would just do this at compile time in `time_util.c`. Can you provide a PR for this?

[2022-09-27 17:56] JosephTLockwood opened #260 "Running AprilTag in Google Colab"
**Describe the bug**
I am attempting to get Apriltag working in Google Colab. I get the following error when trying to `import`.
`ImportError: libapriltag.so.3: cannot open shared object file: No such file or directory`

**To Reproduce**
The code to reproduce this error can be ran and seen [here](https://colab.research.google.com/drive/1ewt7qQJGi8cYjxi57ePe3lHMzaGHgPBt#scrollTo=ZNbSW8DQAowO)

**Ex

[2022-09-27 18:27] christian-rauch commented on #260
Can you provide more details on how the apriltag library was installed and how to reproduce this locally? Can you run a `locate libapriltag.so.3` to check if the file is present on the system? It might be that you are just using the wrong library path and that therefore the library cannot be found.

Otherwise, I don't see how this issue can be fixed in this repo.

[2022-09-27 20:17] JosephTLockwood commented on #260
Hi @christian-rauch thanks for the response. I was trying to run this on Google Colab as a test. I wanted to make sure I could get it working on a clean platform (one where I had not previously install other Apriltags) before I tired on my device. Because I was running into issues on Google Colab I figured I was doing something wrong or Apriltags just didn't work on Google Colab.

I just tried aga

[2022-09-27 21:47] christian-rauch commented on #260
I haven't used Colab before, so I don't know how you would install custom software on it.

I did a quick test with:
[code]
and this allowed me to run `import apriltag` inside ipython.

Unless you can reproduce your issue locally in a minimal example, I would assume that this is somehow caused by your setup and not the library itself.

[2022-09-28 07:28] chobitsfan commented on #90
doubles_mat_to_quat assumes a 4x4 matrix, but pose.R is a 3x3 matrix. You need to re-arrange pose.R before give it to doubles_mat_to_quat

[2022-09-28 12:17] JosephTLockwood commented on #260
Thanks so much for you help. I got it working @christian-rauch. I ended up putting this on my device [Oak-D-Lite](https://shop.luxonis.com/products/oak-d-lite-1) but it was only running at around 10fps. dt-apriltag was running around 30fps and just the plain apriltag was around 40fps. Any idea on why it is slower?
dt-apriltag
<img width="237" alt="Screenshot_2022-09-27_at_00 20 35" src="https://us

[2022-09-28 12:57] christian-rauch commented on #260
There could be many reasons for the different performances. Make sure that you compile both in release mode and use the same settings, such as decimate, that will hugely impact the runtime performance.

I assume that you managed to fix your original problem? Can this issue be closed?

[2022-09-28 14:14] #260 closed

[2022-09-28 19:06] christian-rauch commented on #257
I am closing this for now due to the lack of a reproducible example. If this happens again and you can provide an example, you can reopen this issue.

[2022-09-28 19:06] #257 closed

[2022-09-28 19:09] christian-rauch commented on #256
@dkogan Can you send some of your patches as individual PRs? Otherwise, I am inclined to just close this for now.

[2022-09-28 19:13] dkogan commented on #256
Hi. Sorry, the github process is way too much of a pain, and it's not
necessary. You already have the patches. You can `git am` the files to
whichever branch you like, push it wherever you like, and review it
using whatever process you like.

Thanks

[2022-09-29 20:22] christian-rauch commented on #256
This repo already has two examples that are ready to use.

This repo contains a couple of "extras", such as an option parse or jpeg decoder, in order to not rely on external dependencies. No one has to use these extras to use the library. I think most people use external third-party libraries to do optional parsing or image loading anyway. Therefore it makes sense to split those out into a separat

[2022-09-29 20:33] dkogan commented on #256
This repo does not already deploy a ready-to-use binary, and it would be
very nice if it did. Being able to detect apriltags without any code, in
the way noted above in this thread would be very nice

OK. You clearly thought about which samples are useful, and I don't need
to debate it. Thanks for maintaining this.

[2022-09-29 20:44] christian-rauch commented on #256
Can you provide details on what is missing in the `apriltag_demo` to be "ready-to-use"? If you compile and install this project, you will get an `apriltag_demo` binary that reads and processes images. What kind of test/demo program would be useful for a Debian package?

[2022-09-29 21:23] dkogan commented on #256
Hi Christian. It's been a long time since I looked the the apriltag
build system. I just looked again, and you're right: the build system
DOES install a binary into /usr/bin. So I guess my complaints are more
about what this binary does, and not that it doesn't exist at all.

I think the goal of this binary should be to be usable for finding
apriltags, not just to showcase the usage of the library

[2022-10-05 06:10] bhjelstrom opened #261 "Discrepancy Between Generated Families and Built-In Families"
The included "classic" 16h5 family includes 30 tags.

When I generate a classic 16h5 family using apriltag-generation and  "java -cp april.jar april.tag.TagFamilyGenerator classic_8 5", I get a family with 25 tags (and the family is in fact named 16h5).

When I generate a standard 41h12 family with java -cp april.jar april.tag.TagFamilyGenerator standard_9 12, the generated "TagStandard41h12" has

[2022-10-05 06:12] mkrogius commented on #261
This happens because you are probably using a different version of Java
than was used originally, which has a different random number generator

On Tue, Oct 4, 2022, 23:10 hjelstromboli ***@***.***> wrote:

[2022-10-07 11:38] christian-rauch commented on #261
@bhjelstrom If you are still facing issues, I suggest reporting them to https://github.com/AprilRobotics/apriltag-generation where they can be better tracked.

[2022-10-07 11:38] #261 closed

[2022-10-07 14:45] AlexReimann opened #262 "Occlusion robustness"
We did some occlusion tests of an `tagStandard41h12` tag and the results were actually terrible.

![Screenshot from 2022-10-07 16-41-32](https://user-images.githubusercontent.com/7090417/194580759-9c00ab32-cf89-4231-82dd-5460c2a7db6a.png)

![Screenshot from 2022-10-07 16-42-11](https://user-images.githubusercontent.com/7090417/194580771-5ef4c85e-9e7c-488a-a827-065ee53f5a29.png)

![Screenshot from

[2022-10-07 14:51] christian-rauch commented on #262
Your data is quite low resolution. Did you try higher resolutions?

Other than that, I can only say that testing with a single tag family is not really exhaustive :-) Did you test other tag families? Did you try to reproduce the results from the paper?

[2022-10-07 15:52] j-medland commented on #256
Hello

I have been attempting to split the cmake build into two targets - `apriltag` and `apriltag-utils`. This works well but then adding them as a dependency to the example builds highlights some issues with the project's directory structure.

For instance, mirroring the header-install directory layout in the project would mean being able to utilize the correct PUBLIC/PRIVATE scope for the inclu

[2022-10-07 23:49] s-trinh commented on #262
None of AprilTag 2, AprilTag 3 are robust to occlusion. Only the first version is.
This is stated in the [AprilTag 2 paper](https://april.eecs.umich.edu/media/pdfs/wang2016iros.pdf):

[2022-10-12 16:54] christian-rauch commented on #262
@AlexReimann I am going to close this. If you need occlusion robustness, you can switch to an earlier version of the library.

[2022-10-12 17:06] christian-rauch commented on #256
Moving the files into a subfolder makes sense and I was thinking about this too before. But we do not need to split source and header files necessarily.

We should maybe also split the tag sources into a dedicated subfolder. Maybe it also makes sense to have a dedicated library for the tags? Then there would be a "core", "utils" and "tag" library since users of the apriltag do not necessarily need

[2022-10-13 17:50] j-medland commented on #256
Thanks for the feedback! I will try and integrate the things you suggest and update when I have some progress

[2022-10-17 01:49] ruichaowang opened #263 "apriltag3 vs apriltag2 -- detect quad"
**Describe the bug**
Apriltag 3 has a lower detect rate than Apriltag 2.
Tag family:  tagCodes36h11

**To Reproduce**
Steps to reproduce the behavior:
parameters for apriltag3:
[code]

**Expected behavior**
Apriltag 3 can detect more tags than Apriltag 2.

** Input Image**
raw imgae:
![front_debug_preprocess](https://user-images.githubusercontent.com/25674319/196071455-aa02cd57-01e4-4b39-b694-2b01

[2022-10-17 01:50] ruichaowang commented on #263
re-upload raw images.
![front_debug_preprocess](https://user-images.githubusercontent.com/25674319/196072472-d41e592a-7359-473a-ac57-76d9fce1edb3.png)

[2022-10-17 10:01] christian-rauch commented on #263
The behaviour between the implementations changed. This repo hosts all the versions. If you need an older implementation, you will have to check out that specific commit.

@mkrogius @wxmerkt Since this also came up in https://github.com/AprilRobotics/apriltag/issues/262, I think it makes sense to create branches `apriltag1` and `apriltag2` for the previous versions 1 and 2. Do you agree? Which com

[2022-10-22 17:35] AlexReimann commented on #262
Thank you very much for the info :+1:

I actually tested with a different camera and the results there were a bit better:

![Screenshot from 2022-10-22 19-34-31](https://user-images.githubusercontent.com/7090417/197354368-4918a9e6-7ffa-46e0-84c4-03b5a15f520c.png)
![Screenshot from 2022-10-22 19-35-08](https://user-images.githubusercontent.com/7090417/197354370-21098c10-8817-4efc-a1f4-1f0aa9e79233.

[2022-10-27 11:08] chutsu commented on #235
Very late to the party, but way back when I was doing a similar project; landing a quadcopter onto an AprilTag in outdoors. We basically used the "illumination invariant transform" proposed by Will Maddern:

Source:

Link: https://www.robots.ox.ac.uk/~mobile/Papers/2014ICRA_maddern.pdf

The only requirement is the camera has to be RGB, and by manipulating the RGB channels via the transform you can

[2022-10-28 06:37] ruichaowang commented on #263
But from my point of view, the apriltag3 should have a better detection rate than apriltag2, but which is not ture in this case.

[2022-11-04 06:26] mkrogius commented on #263
@ruichaowang Neither AprilTag 3 nor AprilTag 2 supports tags with the extra calibration squares on the corners like that. I also don't recognize the style of the image you have uploaded as `apriltag2_debug`, which makes me wonder whether this is actually an AprilTag 2 implementation? If I had to guess, this would actually be an AprilTag 1 implementation, which didn't officially support tags with c

[2022-11-28 11:18] parthapn98 opened #267 "Build/install issue with shared libraries"
Hi Im building april tag using the commands under install here https://github.com/AprilRobotics/apriltag

if i build for -DBUILD_SHARED_LIBS=OFF
The install works properly, however i need the python wrapper for my work.

However when building with -DBUILD_SHARED_LIBS=ON
followed by
cmake --build build --target install --clean-first
I get an error:
LINK : fatal error LNK1104: cannot open file 'Debu

[2022-11-28 15:04] christian-rauch commented on #267
The python wrapper (`BUILD_PYTHON_WRAPPER`) can only be used with shared libraries (see `cmake_dependent_option(BUILD_PYTHON_WRAPPER "Builds Python wrapper" ON BUILD_SHARED_LIBS OFF)`).

At least on Linux, the wrapper is built automatically if `BUILD_SHARED_LIBS` is `ON`. I haven't tried this on Windows. The Python wrapper may just not work on Windows. I can review a PR if someone implements this

[2022-11-28 16:40] parthapn98 commented on #267
is the build tested on unix/ redhat?
it worked fine on Ubuntu

however in windows the build+install without the shared libraries work
but with shared libraries they don't. can you recommend a way for me to share the data with you if you are willing to look into this?